body {
    background-color: black;
    display: block;
    font-family:  Arial, Helvetica ;
}

.blok-section {
    max-width: 800px;
   
    margin-left: auto;
    margin-right: auto;
    
}

header {
   
    color: rgb(167, 0, 0);
   
    margin: 1px;
    font-size: 72px;
    text-align: center;
   

}

h1 {
    text-align: center;

}

#ownDescription {
  color:white;
    text-align: center;
    font-size: 22px;
    
    
}
#firstBlock {

}

#secondBlock {
 
}
#thirdBlock {

    
   
    
}
#fourthBlock {
  
  color: white;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  
  
  
}

#fifthBlock {
 
}


#sixthBlock {
  margin-top: 100%;
  color: beige;
  text-align: center;
}

#privacyPolicyLink {
  text-decoration: none;
  
  font-size: 22px;
}

#privacyPolicyLink:hover {
  
  color: red;
  
}











#mainNavBar {
  overflow: hidden;
  
  font-size: 35px;
  transition: 0.4s;
  
  width: 100%;
  
}

#homeLink {
  
  text-decoration: none;
      color: red;
      
    
    
  }
  #logoMainNavBar a:hover {
    
    color: green ;
    text-decoration: none;
    
  }

#mainNavBar-right a:hover {
  background-color:black;
  
}
#mainNavBar-right a:active  {
  background-color: green;
   color: black;
 }

 #mainNavBar-right {
  float: right;
 
}
@media only screen and (max-width: 860px) {
  #mainNavBar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   

  }
 }

#logoMainNavBar {
 /* height: 35px;
  width: 35px;
  */
  float: left;
  font-size: 27px;
  width: 230px;
  transition: 0.4s;
 padding: 12px;
  line-height: 25px;
  border-radius: 18px;
  background-color:black;
  margin: 5px;
  border: 2px solid red;
  color: red;
  text-align: center;
}
@media only screen and (max-width: 860px) {
  #beforelogoMainNavBar  {
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
     
 
 }
}

#linkSocialMainNavBar {
  float: left;
    text-align: center;
    width: 35px;
    font-size: 19px;
    padding: 15px;
  
    font-weight: 700;
    border: 2px solid red;
    border-radius: 18px;
    background-color: white ;
    margin: 5px;
  
}


#linkSocialMainNavBarSport{
  float: left;
  vertical-align: top;
    text-align: center;
    width: 35px;
    height: 30px;
    font-size: 10px;
    padding: 15px;
    padding-left: 6px;

  padding-right: 30px;
    font-weight: 700;
    border: 2px solid red;
    border-radius: 18px;
    background-color: white ;
    margin: 5px;
    
}





 #fifthBlock {
  
  
  
  
}

#blogPostDiv{
 
  padding: 5px;
  background-color: rgb(147, 235, 250);
  border: 2px solid rgb(135, 9, 9);

  border-radius:15px;
  margin-bottom: 5px;
}

#blogPostDivSwiftUI{
 
  padding: 5px;
  background-color: rgb(245, 240, 88);
  border: 2px solid rgb(135, 9, 9);

  border-radius:15px;
  margin-bottom: 5px;
}

#blogPostDiv100UI{
 
  padding: 5px;
  background-color: rgb(235, 238, 180);
  border: 2px solid rgb(135, 9, 9);

  border-radius:15px;
  margin-bottom: 5px;
}


#linkYouTubeNavBar2 {
  font-size: 22px;
  display: block;
  text-align: center;
  text-decoration: double;
}

#linkAuthorNavBar2 {
  font-size: 22px;
  
  text-align: center;
  text-decoration: double;
}



#linkYouTubeNavBar2:hover {
  color: blue;
  
}

#linkAuthorNavBar2:hover {
  color: blue;
}
#linkAuthorNavBar2:active {
  color:green;
}

#linkYouTubeNavBar2:active  {
  color: green;
  
 }
 @media only screen and (max-width: 860px) {
  #linkYouTubeNavBar2 {
 
   display: block ;
  }
 }

 #linkNavBarFB { 
  font-size: 22px;
  text-align: center;
text-decoration: none;
display: block ;
padding: 5px;
padding-right: 25px;
 
}


#linkNavBarFB:hover {
  color: blue;
  
}
#linkNavBarFB:active  {
  color: yellow;
  
 }
 @media only screen and (max-width: 860px) {
  #linkNavBarFB {
 
   display: block ;
  }
 }


#pMainDescriptionTitle100UI {
  text-align: center;
  color:red;
  margin-top: 0px;
  font-size: 25px;
  margin-bottom: 10px;
  text-decoration: underline;
}

#pMainDescriptionTitle {
  text-align: center;
  color: red;
  margin-top: 0px;
  font-size: 25px;
  margin-bottom: 10px;
  text-decoration: underline;
}

#pDescriptionAuthor100UI {
  text-align: center;
  color: red;
  margin-top: 0px;
  font-size: 25px;
  margin-bottom: 10px;
   
}
#discriptionsDiv{
  font-size: 22px;
  margin: 0px;
  margin-top: 5px;
}

#pDescriptionTitle {
  text-align: center;
  color:black;
  margin: 0px;
  margin-bottom: 5px;
}

#pDescriptionTitle100UI {
  text-align: center;
  color:black;
  margin: 0px;
  margin-bottom: 5px;
}

#pDescriptions {
  margin: 0px;
  text-indent: 15px;
   
  
}

@media only screen and (max-width: 860px) {
  #pDescriptions {
    text-align: center;
   
    
    
  }
 }

#dateAndUpdate {
  font-size:15px;
  text-align: center;
  margin: 0px;


 
}

#social-image {
 
 
 
  height: 30px;
  width: 30px;
  vertical-align: bottom;
  
}
#social-image-sport {
 
 
 
  height: 30px;
  width: 60px;
  
  vertical-align: bottom;
  
  
}

#main-logo-image{
  height: 30%;
  width: 30%;
border: 2px solid green;
border-radius: 50%;
}

 

#social-imageGitHub {

  
  height: 25px;
  width: 25px;
  vertical-align: bottom;
  
}

#social-imageFiftBlock{
  padding-right: 5px;
  height: 25px;
  width: 25px;
  vertical-align: bottom;

}



#privacyLink {
  color: rgb(167, 0, 0);;
}



