body {
    background-color: black;
    display: block;
}

.blok-section {
    max-width: 800px;
   
    margin-left: auto;
    margin-right: auto;
    
}

header {
   
    color: rgb(167, 0, 0);
   
    margin: 1px;
    font-size: 32px;
    text-align: center;
   

}

h1 {
    text-align: center;

}

#ownDescription {
  color: rgb(210, 208, 208);
    text-align: center;
    font-size: 22px;
    
    
}
#firstBlock {

}

#secondBlock {
 
}
#thirdBlock {

    
   
    
}
#fourthBlock {
  
  color: white;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  
  
  
}

#fifthBlock {
  
  
  
  
}

#sixthBlock {
  margin-top: 100%;
  color: beige;
}

#mainNavBar {
  overflow: hidden;
  
  font-size: 35px;
  transition: 0.4s;
  
  width: 100%;
  
}

#mainNavBar a:hover {
  background-color:black;
  
}
#mainNavBar a:active  {
  background-color: yellow;
   color: black;
 }

 #mainNavBar-right {
  float: right;
 
}
@media only screen and (max-width: 837px) {
  #mainNavBar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   

  }
 }

#logoMainNavBar {
  float: left;
  font-size: 30px;
  width: 220px;
  transition: 0.4s;
  padding: 12px;
  line-height: 25px;
  border-radius: 18px;
  background-color:black;
  margin: 5px;
  border: 2px solid red;
  color: red;
  text-align: center;
}
@media only screen and (max-width: 837px) {
  #beforelogoMainNavBar  {
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
     
 
 }
}

#linkSocialMainNavBar {
  float: left;
    text-align: center;
    
    width: 35px;
    color: black;
    font-size: 19px;
    padding: 12px;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid red;
    border-radius: 18px;
    background-color: white ;
    margin: 5px;
  
}






#navbar {
  overflow: hidden;
  
 
  font-size: 35px;
  transition: 0.4s;
 
  width: 100%;
  margin-bottom: 50px;
 
 
}
#navbar a:hover {
  background-color:greenyellow;
  
}
#navbar a:active  {
 background-color: yellow;
  color: black;
}



#navbar-right {
  float: right;

  

}



@media only screen and (max-width: 837px) {
  #navbar-right  {
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
     
 
 
 
 
 
 }
}


#social-image {
 
 
 
  height: 25px;
  width: 25px;
  vertical-align: bottom;
  
}

#social-imageGitHub {
 
  
 
  
  
  height: 25px;
  width: 25px;
  vertical-align: bottom;
  
}

#social-imageFiftBlock{
  padding-right: 5px;
  height: 25px;
  width: 25px;
  vertical-align: bottom;

}


#linkGitHubNavBar {
  float: left;
  text-align: center;
 
  width: 175px;
  color: black;
  font-size: 19px;
  padding-left:2px ;
  padding-right: 1px ;
  padding-top: 12px;
  padding-bottom: 12px ;
  text-decoration: none;
  font-weight: 700;
  border: 2px solid red;
  border-radius: 18px;
  background-color: white ;
  margin: 5px;
  
   
  
  
}

@media only screen and (max-width: 837px) {
  #linkGitHubNavBar {
    display: flex;
   justify-content: center;
   align-items: center;
    width: 100%;
   
  }
 }

#linkYouTubeNavBar {
  float: left;
    text-align: center;
    
    width: 175px;
    color: black;
    font-size: 19px;
   
    padding-left:1px ;
    padding-right: 1px ;
    padding-top: 12px;
    padding-bottom: 12px ;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid red;
    border-radius: 18px;
    background-color: white ;
    margin: 5px;
    
}




@media only screen and (max-width: 837px) {
  #linkYouTubeNavBar {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
    
  }
 }
 @media only screen and (max-width: 837px) {
  #beforeLinkGitHubNavBar {
    padding-right: 20px;
   
    
    
  }
 }
 

#logoNavBar {
 
  font-size: 30px;
  width: 335px;
  transition: 0.4s;
  padding: 12px;
  line-height: 25px;
  border-radius: 18px;
  background-color:rgb(141, 216, 36);
  margin: 5px;
  border: 2px solid red;
  color: black;
  text-align: center;
}
@media only screen and (max-width: 837px) {
  #logoNavBar {
    float: bottom;
  
  }
 }
 @media only screen and (max-width: 837px) {
  #beforeLogoNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
   
   
  }
 }



 @media only screen and (min-width: 838px) {
  #logoNavBar {
    float: left;
    
  }
 }

#blogPostDiv{
  
  padding: 20px;
  background-color: white;
  border: 2px solid red;
  border-radius:15px;
}

#linkYouTubeNavBar2 { 
   font-size: 25px;
  
  
}

#linkYouTubeNavBar2:hover {
  
  
}

#pMainDescriptionTitle {
  text-align: center;
  color: blue;
}
#discriptionsDiv{
  font-size: 22px;
}

#pDescriptionTitle {
  text-align: center;
}

#pDescriptions {
  
}
#dateAndUpdate {
  font-size:15px;
  text-align: center;
  


 
}


